/* Mini-Games CSS section */

.mini-games {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: left;
    margin-top: 40px;
}

.game-card {
    background-color: var(--bg-surface);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card img{
    border-radius: 10px;
    width: 200px;
    height: 180px;
}

.game-icon {
    width: 100%;
    height: auto;
}

.game-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(182, 116, 226, 0.6);
}

/* Story Games CSS Section */
.story-games {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: left;
    margin-top: 40px;
}

.story-game-card {
    background-color: var(--bg-surface);
    border-radius: 10px;
    padding: 20px;
    width: 670px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.story-game-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(182, 116, 226, 0.6);
}

.story-game-icon{
    border-radius: 10px;
    width: 600px;
    height: 450px;
}

